data/nemo-bids
data/empe_csv
data/afim_csv
results/*
processed_data/**
!processed_data/**/
!processed_data/models/paper_models.pkl

*.py[co]
__pycache__/
.ipynb_checkpoints/
*.egg-info

.DS_Store

.snakemake
.snakemake_timestamp
.vscode

!*.gitkeep